{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Details{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article class="post">
        <header>
            <div>
                <h1>Sentiment Analysis</h1>
                <div class="about">from google</div>
            </div>
        </header>
            <pre><code class="atom-one-light language-json" id="code"></code></pre>
            {% if records.uri %}
                <a class="action"
                   href="{{ url_for('steem.new_google_analysis', key_id=records.uri) }}">Import Now</a>

            {% endif %}
            <script>
                const jsonString = '{{ records['text'] | safe}}';
                const beautifiedString = beautifyJSON(jsonString);
                document.getElementById("code").innerHTML = beautifiedString;
            </script>
            <script>hljs.highlightAll();</script>

    </article>
{% endblock %}
